@import "variables";

@mixin onMobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bg-pixelRatio-2 {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url("../images/home-bg-@2x.webp");

    @include backgroundImage;
  }
}

@mixin bg-pixelRatio-3 {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background: url("../images/home-bg-@3x.webp");

    @include backgroundImage;
  }
}

@mixin bg-pixelRatio-2--footer {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url("../images/footer-bg-@2x.webp");

    @include backgroundImage;
  }
}

@mixin bg-pixelRatio-3--footer {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background: url("../images/footer-bg-@3x.webp");

    @include backgroundImage;
  }
}

@mixin backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin columnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin title-Typography {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
}

@mixin blue-Typography {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  color: $color-blue;
}

@mixin secondary-Typography {
  font-size: 16px;
  line-height: 27px;
  color: $color-text-grey;
}

@mixin grey-Typography {
  font-size: 14px;
  line-height: 27px;

  color: $color-grey;
}
