$font-main: Roboto, sans-serif;
$color-black: #212121;
$color-blue: #0075ff;
$color-text-grey: #3e3e3e;
$color-grey: #9fadc2;
$color-input: #f6f8ff;
$color-white: #ffffff;
$color-hover: #005ecc;
$headerTopPadding: 24px;
