.header {
  background-image: url("../images/home-bg.webp");

  @include backgroundImage;

  @include bg-pixelRatio-2;
  @include bg-pixelRatio-3;

  &__content {
    padding: $headerTopPadding 0 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
  }

  &__call {
    @include onDesktop {
      &::before {
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);

        padding-right: 20px;

        width: max-content;

        display: block;

        content: "+1 234 555-55-55";

        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;

        color: $color-white;

        opacity: 0;

        transition: opacity 250ms;

        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;

        pointer-events: all;
      }
    }
  }

  &__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;

    color: $color-white;

    &::before {
      margin-bottom: 24px;

      content: "";

      display: block;

      width: 40px;
      height: 2px;

      background-color: $color-white;
    }

    @include onDesktop {
      line-height: 80px;
      font-size: 80px;
      letter-spacing: -1.5px;
    }
  }
}
