.menu {
  background-color: $color-blue;

  &__content {
    padding: $headerTopPadding 0;

    height: 100vh;
  }

  &__top {
    margin-bottom: 48px;

    @include top-actions;
  }

  &__list {
    margin-bottom: 48px;
  }

  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;

    padding-bottom: 8px;

    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border-bottom: 1px solid transparent;

    color: $color-white;

    transition: border-color 250ms;

    @include onDesktop {
      &:hover {
        border-color: $color-white;
      }
    }
  }

  &__call {
    display: block;

    width: max-content;

    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: $color-white;

    &--phone {
      margin-bottom: 16px;
    }
    &--action {
      padding-bottom: 8px;

      border-bottom: 1px solid;
    }
  }
}
