.page {
  scroll-behavior: smooth;

  font-family: $font-main;
  color: $color-black;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);

    transition: transform 500ms;

    &:target {
      transform: translate(0);
    }
  }

  &__section {
    margin-bottom: 64px;
  }

  &__section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;

    color: $color-black;

    &::after {
      margin: 4px auto 0;

      content: "";

      display: block;

      width: 23px;
      height: 16px;

      background-image: url("../images/title-logo.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
