.testimonial {
  text-align: center;
  &__image-container {
    margin-bottom: 28px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    @include onDesktop {
      margin-bottom: 32px;
    }
  }

  &__image {
    grid-column: 2 / 4;

    width: 100%;

    border-radius: 50%;
  }

  &__name {
    margin-bottom: 4px;

    @include blue-Typography;
  }

  &__role {
    margin-bottom: 13px;

    @include grey-Typography;
  }
}
